@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --borderr: 53, 63, 75;
  --card-background: 32, 38, 45;
  --copy-light: 210, 216, 223;
  --copy-lighter: 150, 165, 181;
}

* {
  margin: 0;
  padding: 0;
}

.fw {
  width: calc(100vw - (100vw - 100%));
}

.embla {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.embla__container {
  height: 12rem;
  display: flex;
  align-items: center;
}
.embla__slide {
  flex: 0 0 17rem;
  /* margin-right: 1rem; */
  min-width: 0;
  max-width: 100%;
}

.banner-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Default font size */
html {
  font-size: 16px;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 16px;
  }
}
