@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.fw {
  width: calc(100vw - (100vw - 100%));
}

.embla {
  overflow-x: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 17rem;
  min-width: 0;
}

.banner-gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3));
}
